
{% extends "layout.html" %}

{% block page_title %}Page Not Found{% endblock %}

{% block content %}
<script src="https://cdn.ravenjs.com/3.23.1/raven.min.js"></script>
<div class="jumbotron">
    <div class="text-center">
        <h1>404</h1>
        <p>Sorry, that page doesn't exist.</p>
        <p>Want to <a href="{{ url_for('public.home') }}">go home</a> instead?</p>
    </div>
    {% if event_id %}
     <script>
         Raven.showReportDialog({
	      eventId: '{{ event_id }}',
	          dsn: '{{ public_dsn }}'
			    });
      </script>
      {% endif %}
</div>
{% endblock %}

